.body{
  height: 100vh;
  
}


.home{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 140px;
  gap: 50px;
  
}

.title{
  display: flex;
  flex-direction: column;
}

.homeTitle h1:hover{
  color: #fff;
  
}

.homeTitle h1{
  cursor: initial;
}

.homeTitle span{
  line-height: 55%;
  font-size: 100px;
  display: block;
  color: #6DA1F9;
  
}

.homeTitle{
  text-align: center;
  font-size: 2.5rem;
 
  color: #fff;
}

.homeDescription{
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  text-align: justify;
  font-size: 15px;
  margin-top: 40px;
  color: #fff;
  max-width:520px;
}

.homeDescription>button{
  background-color: #6DA1F9;
  color: #fff;
}

.homeDescription>button:hover{
  background-color: #ffff;
  color: #6DA1F9;
  box-shadow: 0px 0px 5px #fff;
}

.homeSubtitle{
  display: flex;
  justify-content: center;
  gap:10%;
}

.homeimg{
  max-width: 620px;
  height: auto;
  margin: 0 auto;
  display: block;
  
}

.home__sobre{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  
}

.title{
  display: flex;
  justify-content: start;
  width: 100%;
  font-size: 2.5rem;
  color: #fff;
}

.description> p {
  text-align: justify;
  color: #fff;
  display: flex;
  justify-content: center;
}

.buttons{
  display: flex;
  justify-content: end;
  margin-top: 20px;
  width: 100%;
}

.contact{
  display: flex;
  justify-content: center;
  gap: 20px;

}

.icon{
  
  width: 25px;
  transition: all 0.3s ease-in-out;
}


.servicos{
  margin-top: 10%;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
  width: 100%;
}

hr{
  width: 70%;
  height: 1px;
  background-color: #fff;
  border: none;
  
}

.box__servico{
  padding: 20px;
  background: linear-gradient(190deg, rgba(255, 255, 255, 0.1) , rgba(145, 145, 145, 0.1));
  backdrop-filter: blur(10px);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column-reverse;
  color: #fff;
  box-shadow: 5px 5px 10px #0000009a;
  animation: fadeIn 1.5s ease-in-out;
  width: 250px;
  height: 100%;
}




@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
  
}

.box__servico > i{
  font-size: 10rem;
  
}
.box__servico > img{  
  height: 10rem;
  border-radius: 10px;
  
}

.box__servico>p{
  text-align: center;
  margin: 0;
  width: 100%;
  font-size: 12px;
}

.box__servico>h3{
  margin: 25px 0 0 0;
}

.home__propriedades{
  display:flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-top: 10%;
}

.subtitle{
  display: flex;
  justify-content: center;
  color: #fff;
}

.subtitle>h2{
  font-size: 25px;
  background: linear-gradient(180deg, #6DA1F9 0%, #fff 200% );
}

.box__propriedades{
  height: 350px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.box__propriedades>img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}

.box__propriedades>p{
  color: #fff;
  font-weight: 700;
}

.box__propriedades:hover{
  cursor: pointer;
 
}



.box__propriedades:hover>img{
  border: 1px solid #6DA1F9;
  box-shadow: 0px 0px 10px #6DA1F9
  
}



.home__formulario{
  display:flex;
  flex-direction: column;
  margin-top: 30px;
}


.subtitle>h3{
  font-size: 30px;
  color: #fff;
  margin: 0;
}

.formulario>form{
  display: flex;
  flex-direction: column;
  gap: 15px;
  background:linear-gradient(190deg, rgba(255, 255, 255, 0.1) , rgba(145, 145, 145, 0.1));
  box-shadow: 0px 0px 7px #00000030;
  padding: 45px;
  border-radius: 20px;
  width: 250px;
}

.formulario>form>label{
  display: flex;
  flex-direction: column;
  color: #fff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
}

.formulario>form>label>input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff35;
  outline: none;
  backdrop-filter: blur(50px);
  transition: 0.5s ease-in;
}

.formulario>form>label>input:focus {
  border: 1px solid #fff;
}

.description__forms{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 20px;
  
}

.description__forms>p{
  color: #fff;
  text-align: justify;
}

.description__forms>button:hover{
  background-color: #6DA1F9;
  color: #fff;
  box-shadow: 0px 0px 5px #6DA1F9;
}