@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Host+Grotesk:ital,wght@0,300..800;1,300..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Montserrat", sans-serif;
}

.body__login{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
  
}

.container__login{
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(255, 255, 255, 0.127),rgba(255, 255, 255, 0.04));
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 15px rgba(35, 35, 35, 0.54);
  height: 450px;
  width: 400px;
}

h1{
  text-transform: uppercase;
  font-size: 50px;
  color: #fff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  padding: 0;
  margin: 0;
}



.form {
  padding: 20px;
  display:flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}

.input{
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  font-size: 16px;
  outline: none;
  background: none;
  color: #fff;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

.input:focus{
  border: #101218 1px solid;
}

.label:focus {
  color: #101218 ;
}



button{
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #101218;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

button:hover{
  background-color: #101218;
  color: #fff;

}

span{
  color: red;
  font-size: 12px;
  display: block;
}

.label{
  font-size: 14px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register{
  display:absolute;
  color: #fff;
  cursor: pointer;
  width: 66%;
  margin: 0;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.register:hover{
  color: #3d3d3e;
}
